* {
    font-family: Arima Madurai;
}

.container-fluid {
    background: url(/assets/images/wp2646223-white-background-hd.png) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;

    .container {
        min-height: 100vh;

        label {
            color: black;
            font-size: 18px;
        }

        .subBtn {
            padding-top: 50px;

            button {
                display: block;
                margin: auto;
                border-radius: 60px;
            }
        }
    }
}