.head{
    background-color: rgb(238, 238, 238); 
    height:fit-content; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .coII{
        display: flex; 
        justify-content: center; 
        align-items: center;
        p{
            font-size: 36px;
            font-weight: 600px;
        }
        .btn{
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}