
<div class="container-fluid">
    <div class="container">
        <div class="row head">
            <div class="col-6 coII">
                <img src="assets/images/logo2.png" routerLink="/home">
            </div>
            <div class="col-4 coII">
                <button type="button" class="btn btn-primary" routerLink="/new-movie">New Movie</button>
            </div>
            <div class="col-2 coII">
                <button type="button" class="btn btn-link" (click)="logOut()">LogOut <i class="fa-solid fa-right-from-bracket"></i></button>
            </div>
        </div>
    </div>
</div>