<app-header></app-header>

<div class="container-fluid con1">
    <div class="container con2">
        <div class="row" style="padding: 10px;">
            <div class="col-12 btns">
                <button type="button" class="btn btn-primary" (click)="movieEditor()">Edit</button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="deleteMovie()">Delete</button>
            </div>
        </div>
        <div class="row details">
            <div class="col-5 MImage">
                <img src="https://test-api.storexweb.com/{{movie.image}}" alt="Card image">
            </div>
            <div class="col-7 MDetails">
                <h2 class="md"><span>Title:</span> {{movie.name}}</h2>
                <p class="md"><span>Desc:</span> {{movie.description}}
                </p>
                <p class="md"><span>Category:</span> {{category_id.name}}
                </p>
            </div>
        </div>
        <div class="row backHome">
            <a routerLink="/home">back to home</a>
        </div>
    </div>
</div>