.con1{
    .con2{
        padding: 50px;
        .details{
            .col-5{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                width: 70%;
                display: block;
                margin: auto;
                border-radius: 5px;
            }
            .col-7{
                p{
                    font-weight: 600;
                    font-size: 16px;
                    padding-top: 15px;
                }
            }
        }
        .backHome{
            padding: 50px;
            text-align: center;
        }
    }
}