.con1{
    .con2{
        padding: 50px;
        .btns{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .details{
            .col-5{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                width: 70%;
                display: block;
                margin: auto;
                border-radius: 5px;
            }
            .MImage{
                p{
                    font-weight: 600;
                    font-size: 16px;
                    padding-top: 15px;
                }
            }
            .MDetails{
                padding-top: 5%;
                .md{
                    margin-bottom: 30px;
                    span{
                        font-size: 16px !important; 
                        font-weight: lighter;
                    }
                }
            }
        }
        .backHome{
            padding: 50px;
            text-align: center;
        }
    }
}