<div class="container-fluid">
    <div class="container">
        <div class="row head">
            <div class="col-6">
                <p>StorexWeb</p>
            </div>
            <div class="col-6">
                <button type="button"  class="btn-sm btn btn-success" (click)="logOut()">LogOut</button>
            </div>
        </div>
    </div>
</div>
&nbsp;
&nbsp;
<div class="container-fluid">
    <div class="container" style="padding-top: 20px;">
        <div class="row" style="margin-bottom: 50px;">
            <select class="form-select" aria-label="Default select example" style="width: 400px; margin: auto; text-align: center;" (change)="showCategory($event)">
                <option value=""> - All Movies -</option>
                <option value="{{cat.id}}" *ngFor="let cat of allCategories">
                    {{cat.name}}
                </option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let movie of allMovies">
                <div class="card col-11" (click)="goToMovieDetails(movie.id)">
                    <img class="card-img-top" src="https://test-api.storexweb.com/{{movie.image}}" alt="Card image">
                    <div class="card-body">
                        <p class="card-text name">{{movie.name}}</p>
                        <p class="card-text decs">{{movie.description}}</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>